
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
hosting.ZGlzdA.cache
.vscode/
config/index2.js
.firebase/
firestore.rules
package-lock.json
dist2/